<%-include('partials/navbar.ejs')-%>


    <h1 id="main_head">Chaos Cipher</h1>
    <h2 id="catchy_line">Web based Compiler</h2>

<%-include('partials/drawer.ejs')-%>


    <div id="languages_supported">
        <%-include('languages.ejs')-%>
    </div>
<br>
<br>
<br>
<br>
    <div id="features">
        <%-include('features.ejs')-%>
        <br>
        <br>
        <%-include('features.ejs')-%> 
        <br>
<br>
        <%-include('features.ejs')-%>
    </div>


    <div id="chooselang">
        <%-include('chooselang.ejs')-%>
    </div>

    <%-include('partials/footer.ejs')-%>